* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

#todoUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 1rem;
    height: 70vh;
    padding: 0.5rem;
}

#todoUl li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    gap: 0.2rem;
    box-shadow: #6a6a6a 1px 1px;
    width: 70%;
}

input,
textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: #6a6a6a 1px solid;
    box-shadow: 1px 1px #6a6a6a;
    width: 100%;
}

button {
    width: 100%;
    background-color: rgb(72, 127, 189);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}